.HomeContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.CateBox {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.CateLeft {
  width: calc(100% - 60px);
  height: 45px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.CateLeft::-webkit-scrollbar {
  display: none; /* 隐藏Chrome/Safari滚动条 */
}

.CateRight {
  flex: 60;
  height: 45px;
}

.CateItem {
  padding: 0 10px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  margin-right: 10px;
  flex-shrink: 0;
  min-width: fit-content;
}

.active {
  padding: 0 10px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  margin-right: 10px;
  flex-shrink: 0;
  min-width: fit-content;
  color: pink;
  border-bottom: 4px solid pink;
}


.VideoBox{
    width: 100%;
    height: 636px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 15px;
    overflow-y: scroll;
}

.VideoItem{
    width: 185px;
    height: 150px;
    border: 1px solid #ddd;
    margin-left: 14px;
}