.HeaderBox{
    width: 100%;
    height: auto;
    background-color: white;
}
.CateBox{
    list-style: none;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    li{
        display: block;
        width: auto;
        height: 45px;
        color: gray;
        text-align: center;
        line-height: 45px;
        padding: 0px 15px;
    }
}

.PriceBox{
    width: 100%;
    height: auto;
    Button{
        margin-left: 10px;
        margin-top: 10px;
    }
}

.ShopListBox{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.ShopItem{
    width: 160px;
    height: 220px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

.ImgBox{
    width: 100%;
    height: 160px;
    img{
        width: 100%;
        height: 100%;
    }
}

.ShopNameBox{
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-indent: 5px;
}

.shopItemBottom{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    p{
        height: 35px;
        line-height: 35px;
    }
}

.InfiniteBox{
    width: 100%;
    height: auto;
    margin-bottom: 35px;
}


.active{
    color: black !important;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.CartBox{
    width: 100%;
    height: auto;
}

